{% extends "base.html" %}

{% block title %}Фонетические средства выразительности{% endblock %}

{% block content %}
<div class="container">
    <h1>Фонетические средства выразительности</h1>
    <p><a href="{{ url_for('theory') }}" class="back-link">← Назад к разделам теории</a></p>

    <div class="tasks-grid" style="grid-template-columns: 1fr; gap: 20px;">
        <div class="task-card">
            <h3>Аллитерация</h3>
            <p>Повтор согласных звуков для звуковой выразительности.</p>
            <ul>
                <li><em>шуршат камыши</em></li>
                <li><em>А вожак в рубашке из металла
                    Погружался медленно на дно.</em></li>
            </ul>
        </div>

        <div class="task-card">
            <h3>Ассонанс</h3>
            <p>Повтор гласных звуков для звуковой выразительности.</p>
            <ul>
                <li><em>Буря на море и думы,
                    Много мучительных дум.
                </em></li>
                <li><em>Над долиной мглистой в выси синей
                    Чистый-чистый серебристый иней.</em></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}